* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}


.nav {
	background-color: rgb(255,165,82);
	overflow: hidden;
}
/*Background Colour*/

.navigation {
	color: rgb(186,86,36);
	font-size: 40px;
	padding-left: 500px;
	justify-content: space-around;
	display: flex;
}
/* Style & placement of navigation bar*/

h1 {
  background-color: rgb(255,165,82);
  font-size: 100;
  text-align: center-left
}
/* Header adjustment */

body {
  color: rgb(186,86,36);
  background-color: rgb(252,222,156);
}
/* Main page adjustment*/
