@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: rgb(125,161,181);
}

li, a, button {
	font-family: "Poetsen One", sans-serif;
	font-weight: 400;
	font-size: 16px;
	color:rgb(51,57,72);
	text-decoration: none;
	background-color: rgb(87,105,153);
}
/* Styling the link font*/

header { 
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 30px 10%;
	background-color: rgb(87,105,153);
}
/*Changing the placement of the links*/

h1 {
	margin-right: auto;
	width: 60%;
	height: 50%;
	background-color: rgb(87,105,153);
	font-family: "Poetsen One", sans-serif;
	font-weight: 400;
	font-size: 56px;
	color:rgb(51,57,72);
}
/* Styles text logo*/

.nav__links {
	list-style: none;
	background-color: rgb(87,105,153);
}
/* Removes period infront of link*/

.nav__Links li {
	display: inline-block;
	padding: 0px 20px;
}
/*Links go side by side instead of on top of each other*/

.nav__links li a {
	transition: all 0.3s ease 0s;
}
/*Adds a smooth transition on hover*/

.nav__links li a:hover {
	color:rgb(38, 41, 51);
}
/*Changes colour when hovering*/

button {
	margin-left: 20px;
	padding: 9px 25px;
	background-color: rgba(102,129,164,1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}
/*Changes button style*/

button:hover {
	background-color: rgba(102,129,164,0.5);
	transform: translate(-10%, -10%);
}
/*Changes button background and shake on hover*/


.topline {
	height: 30px;
	background-color: rgb(104,132,165);
	padding: 10px;
}
/* Line to break up section*/
.featured {
	font-family: "Poetsen One", sans-serif;
	font-weight: 400;
	font-size: 40px;
	color:rgb(51,57,72);
	text-decoration: none;
	text-align: center;
	margin-top: 50px;
}
/* Featured products text and styling*/

.row {
	display: flex;
}

.column {
	flex: 33.33%;
	padding: 5px;
	margin: 50px;
}
/*Change the placement of the featured products*/

.column img{
	height:450px;
	border: 10px solid rgb(107,136,168);
}
/*Change style of featured images*/

.column h3{
	padding: 10px;
	text-align: center;
	font-family: "Poetsen One", sans-serif;
	font-weight: 400;
	font-size: 16px;
	color:rgb(73,82,103);
	border: 10px solid rgb(107,136,168);
	background-color: rgb(137,160,191);
}
/*Change the style of the text and prices*/

.googleform {  
	display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
	border-radius: 25px;
	border: 10px solid rgb(107,136,168);
	margin-top: 20px;
	margin-left: 300px;
	margin-right: 300px;
}
/*Google form section*/

.rowp {
	display: flex;
}

.columnp {
	flex: 33.33%;
	padding: 5px;
	margin: 50px;
}
/*Change the placement of the images on the product page*/


.columnp img{
	height:450px;
	border: 10px solid rgb(107,136,168);
}
/*Change style of featured images*/

.columnp h3{
	padding: 10px;
	text-align: center;
	font-family: "Poetsen One", sans-serif;
	font-weight: 400;
	font-size: 16px;
	color:rgb(73,82,103);
	border: 10px solid rgb(107,136,168);
	background-color: rgb(137,160,191);
}
/*Change the style of the text and prices*/



.aboutpage {
	padding: 10px;
	text-align: center;
	font-family: "Poetsen One", sans-serif;
	font-weight: 400;
	font-size: 16px;
	color:rgb(73,82,103);
	border: 10px solid rgb(107,136,168);
	background-color: rgb(137,160,191);
	margin: 25px;
}
/*About page styling*/

/* Colours: 148,196,199 - background 255,165,82 - secondary background 73,82,103 - text colour*/